---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
  }
</style>

<footer>
  <p>Más información sobre mis proyectos en</p>
  <Social platform="twitter" username="charlymancilla_" />
  <Social platform="github" username="charlsmn" />
  <Social platform="youtube" username="CarlosMancilla93" />
</footer>
